

<form style="margin: 75px;" [formGroup]="noticiaForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nom">Nombre</label>
    <input type="text" class="form-control" id="nom" formControlName="nom" aria-describedby="nomHelp" placeholder="Introduce el Nombre" required>
    <small id="nomHelp" class="form-text text-muted">Nombre de la noticia que quieres añadir.</small>
  </div>
  <br>
  <div class="form-group">
    <label for="desc_c">Descripcion corta</label>
    <textarea class="form-control" id="desc_c" formControlName="desc_c" rows="3"aria-describedby="desc_cHelp" placeholder="Introduce una descripcion corta"></textarea>
    <small id="desc_cHelp" class="form-text text-muted">Descripcion corta que acompañara al nombre al mostrarse la noticia.</small>
  </div>
  <br>
  <div class="form-group">
    <label for="desc_l">Descripcion larga</label>
    <textarea class="form-control" id="desc_l"formControlName="desc_l" rows="6"aria-describedby="desl_lHelp" placeholder="Introduce una descripcion larga" required></textarea>
    <small id="desc_lHelp" class="form-text text-muted">Descripcion larga, sera el contenido principal de la noticia.</small>
  </div>
  <br>
  <div class="form-group">
    <label for="img">Imagen</label>
    <input type="text" class="form-control" id="img" formControlName="img" aria-describedby="imgHelp" placeholder="Introduce el nombre de la imagen" required>
    <small id="imgHelp" class="form-text text-muted">Nombre de la imagen con el que se referenciara a la imagen</small>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" [disabled]="!noticiaForm.valid">Submit</button>
</form>


<hr>
<p>Form Value: {{ noticiaForm.value | json }}</p>
<p>Form Status: {{ noticiaForm.status }}</p>
