<!-- Navigation -->
<app-navigation class="mt-5"></app-navigation>
<br /><br /><br /><br /><br /><br />
<!-- Noticias-->
<div id="portfolio">
  <h2 class="text-center">Noticias</h2>
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-lg-8 text-center"></div>
  </div>
  <hr class="divider" />
  <div class="container-fluid p-0">
    <div class="row g-0">
      <ng-container *ngFor="let Noticia of noticias">
        <div class="col-12">
          <a
            class="portfolio-box"
            href="../../../../assets/img/portfolio/thumbnails/1.jpg"
            [routerLink]="['/noticias/', Noticia.id]"
            title="{{ Noticia.nombre }}"
          >
            <img
              class="img-fluid"
              src="assets/img/{{ Noticia.img }}"
              alt="..."
              style="width: 100%"
            />
            <div class="portfolio-box-caption">
              <h4 class="h4 mb-2">{{ Noticia.nombre }}</h4>
              <div class="project-subtitle">
                {{ Noticia.descripcion_corta }}
              </div>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
