<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label for="book-name">Book Name: </label>
    <input id="book-name" type="text" formControlName="bookName" required>
  
    <label for="book-ISBN">Book ISBN: </label>
    <input id="book-ISBN" type="text" formControlName="bookISBN">

    <label for="book-Pages">Book Number of pages: </label>
    <input id="book-Pages" type="text" formControlName="bookPages">
    <button type="submit" [disabled]="!bookForm.valid">Submit</button>
  </form>
 