<section class="page-section border-bottom" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h1 class="text-black mt-0">Noticia del día</h1>
        <hr class="divider divider-light" />

        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-12">
              <a class="portfolio-box" [routerLink]="['/noticias/', noticia?.id]" title="{{ noticia?.nombre }}">
                <img class="img-fluid rounded" src="assets/img/{{ noticia?.img }}" alt="..." style="width: 60vw" />
                <div class="portfolio-box-caption">
                  <h4 class="h4 mb-2">{{ noticia?.nombre }}</h4>
                  <div class="project-subtitle">
                    {{ noticia?.descripcion_corta }}
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>