<section class="page-section" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">

      <div class="col-12 text-center">
        <h1 class="text-black mt-0">Última noticia</h1>

        <div class="row mt-5 pointer" [routerLink]="['/noticias/', noticia?.id]">
          <div class="col-6 pt-5">
            <h4 class="h4 mb-2">{{ noticia?.nombre }}</h4>
            <p class="project-subtitle">{{ noticia?.descripcion_corta }}</p>
          </div>

          <div class="col-6">
            <a class="portfolio-box" title="{{ noticia?.nombre }}">
              <img class="img-fluid rounded" src="assets/img/{{ noticia?.img }}" alt="..." style="width: 100%" />
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>