<app-navigation></app-navigation>

<section class="py-5">
  <div class="container px-4 px-lg-6 my-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-8">
        <h1 class="display-5 fw-bolder">{{ juegos?.nombre }}</h1>

        <img
          class="card-img-top mb-5"
          src="assets/img/{{ juegos?.imagen }}"
          alt="..."
        />

        <h5>Fecha de lanzamiento: {{ juegos?.fecha_lanzamiento }}</h5>
        <h5>Plataformas: {{ juegos?.plataforma }}</h5>
        <h5>Generos: {{ juegos?.genero }}</h5>

        <hr class="divider" />

        <p class="lead">{{ juegos?.descripcion }}</p>
      </div>
    </div>
  </div>
</section>
