<ng-container *ngFor="let book of books">
  <section
    *ngIf="book.name?.toUpperCase()?.includes(filter?.toUpperCase() ?? '')"
  >

  <table>
    <tr>
      <th>Name</th>
      <th>ISBN</th>
      <th>Pages</th>
      <th>Publish Date</th>
      <th>Like</th>
    </tr>
    <tr>
      <td>{{ book.name }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.pages }}</td>
      <td>{{ book.publishDate | date: 'dd/MM/yyyy'}}</td>
      <td><input type="button" value="+" (click)="like()" /></td>
    </tr>
    </table>


  </section>
</ng-container>
